<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EDIT</title>
</head>
<body>
    <h1>Edit</h1>

    <!--forms cannot do patch/put requests, so you will have to use a method-override function-->
    <form method = "post" action = "/comments/<%=comment.id%>?_method=PATCH">
    <textarea name = "comment" id = "" cols="30" rows= "10">
        <%= comment.comment%>
    </textarea>
    <button>submit</button>
    </form>
 
    <a href = "/comments">back to comments</a>

</body>
</html>